.gallery{
    padding-top: 50px;
    padding-bottom: 100px;
}

.gallery section{
    padding-bottom: 50px;
    margin-top: 50px;

}

.gallery-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.gallery-box_image{
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 80vw;
    height: 80vw;
    max-height: 100%;
}

.gallery-box_image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-box_text{
    font-family: 'Montserrat';
    font-size: 14px;
    margin-top: -40px;
    width: 80vw;
    height: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 100%;
    padding-left: 5px;
    line-height: 40px;

}


 /* media screen and more */
 @media screen and (min-width:768px){
    .gallery-box_image {
        width: 200px;
        height: 200px;
    }

    .gallery-box_text{
        width: 200px;
    }

    .gallery-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .gallery section{
        margin-top: 0px;
    
    }
    
}


 /* large screen and more */
@media screen and (min-width:992px){
    .gallery-box_image{
        width: 300px;
        height: 300px;
    }

    .gallery-box_text{
        width: 300px;
        height: 30px;
        margin-top: -30px;
        line-height: 30px;
    }
    
}


/* extra large screen and more */
@media screen and (min-width:1200px){
    .gallery-box_image{
        width: 360px;
        height: 360px;
    }

    .gallery-box_text{
        width: 360px;
        font-size: 16px;
    }
    
}

/* extra extra large screen and more */
@media screen and (min-width:1400px){
    .gallery-box_image{
        width: 420px;
        height: 420px;
    }

    .gallery-box_text{
        width: 420px;
        font-size: 18px;
    }
    
}