<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap-grid.min.css')}}">
    {% assets "main_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    
    

    <title>Inkbusters - {% block title %}{% endblock %}</title>

    {% block meta %}{% endblock %}
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar">

        <a class="navbar-logo" href="{{ url_for('main.index')}}">
            <img src="{{ url_for('static', filename='images/logo/logo_font_white.png')}}" alt="">
        </a>

        <ul class="navbar-links" id="js-menu">
            <li><a class="nav-links" href="{{ url_for('main.about') }}"> 
                O nas  </a></li>
            <li><a class="nav-links" href="{{ url_for('main.pricing') }}"> 
                Cennik  </a></li>
            <li><a class="nav-links" href="{{ url_for('main.gallery') }}"> 
                Galeria  </a></li>
            <li><a class="nav-links" href="{{ url_for('main.contact') }}"> 
                Kontakt  </a></li>
        </ul>

        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="menu-mobile"></i>
        </span>
    </nav>

    <!-- HEADER WITH PHOTO -->
    <header class="container-fluid main-header
    {% if css_tag %} {{ css_tag }} {% endif %}
    ">
        <img 
        src="{{ url_for('static', filename='images/other/header.jpg')}}" 
        alt="">
        
        <h2>{% block header_title %}{% endblock %}</h2>

    </header>

    <!-- MAIN BLOCK -->
    <main class="container-fluid" style="padding-top: 100px;">
        {% block main %}
        {% endblock %}  
    </main>
    
    <!-- FOOTER -->
    <footer class="container-fluid footer">
        <div class="container">
            <div class="row footer-main footer-margin">
                <a href="{{ url_for('main.index') }}" class="col-xl-3 footer-photo">
                    <img src="{{ url_for('static', filename='images/logo/logo_white.svg')}}">
                </a>
                <div class="col-12 col-lg-4 col-xl-3">
                    <ul class="footer-section">
                        <li class="footer-header">Rejestracja</li>
                        <li>+48 530 072 575</li>
                        <li>+48 530 072 575</li>
                        <li>contact@inkbusters.pl</li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 col-xl-3">
                    <ul class="footer-section">
                        <li class="footer-header">Godziny otwarcia</li>
                        <li>Pon-Pt 11:00-18:00</li>
                        <li>Sob 11:00-15:00</li>
                        <li>Nd nieczynne</li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4 col-xl-3">
                    <ul class="footer-section">
                        <li class="footer-header">Odwiedź nas osobiście</li>
                        <li>Pewnie Że Boli Tattoo</li>
                        <li>ul.Wszystkich Świętych 5</li>
                        <li>60-123 Poznań</li>
                    </ul>
                </div>
            </div>
        </div>
        
            <div class="footer-bottom">
                <div class="container">
                    <div class="row footer-margin">
                        <div class="col-12 col-sm-6 footer-bottom_left">
                            Inkbusters Copyright &copy; 2020
                        </div>
                        <div class="col-12 col-sm-6 footer-bottom_right">
                            <ul>
                                <li><a href="">Inkbusters</a href="{{ url_for('main.index')}}"></li>
                                <li><a href="">
                                        <img src="{{ url_for('static', filename='images/icons/facebook.svg')}}" alt="">
                                    </a>
                                </li>
                                <li><a href="">
                                    <img src="{{ url_for('static', filename='images/icons/instagram.svg')}}" alt="">
                                </a>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </footer>

<!-- SCRIPTS -->
<script src="{{ url_for('static', filename='js/navbar.js')}}"></script>
</body>
</html>